[submodule "bundle/vim-scala"]
  path = bundle/vim-scala
  url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-sensible"]
  path = bundle/vim-sensible
  url = https://github.com/tpope/vim-sensible
[submodule "bundle/vim-colors-solarized"]
  path = bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-soy"]
  path = bundle/vim-soy
  url = https://github.com/duganchen/vim-soy
[submodule "bundle/supertab"]
  path = bundle/supertab
  url = https://github.com/ervandew/supertab
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9
[submodule "bundle/HiLinkTrace"]
	path = bundle/HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace
[submodule "bundle/tslime2"]
	path = bundle/tslime2
	url = https://github.com/sjl/tslime2.vim
[submodule "bundle/timl"]
	path = bundle/timl
	url = https://github.com/tpope/timl
[submodule "bundle/TextObjectify"]
	path = bundle/TextObjectify
	url = https://github.com/paradigm/TextObjectify
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
